.filtersBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media(max-width: 768px) {
        margin-top: 50px;
    }
}

.text {
    cursor: pointer;
    font-size: 48px;

    @media (max-width: 600px) {
        font-size: 24px;
    }

    .filtersBtnActive & {
        color: #fb6542;
    }
}

.romb {
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 32px;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #fff;

    .filtersBtnActive & {
        background-color: transparent;
    }

    &.rombFilter {
        border: 3px solid #fb6542;
        background-color: #fff;
    }
}

.animLine {
    width: 80px;
    margin-right: 32px;
    height: 1px;
    background: #fff;
    transition: all 0.2s linear;

    .filtersBtnActive & {
        width: 0;
        margin-right: 0;
    }
}

.cleanBtn {
    font-size: 24px;
    color: #fb6542;
    margin-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
    animation: anim 0.3s;
}

.cleanLine {
    height: 0;
    width: 35px;
    border: 1px solid #fb6542;
    margin-right: 20px;
    animation: anim 0.3s;

    @media (max-width: 600px) {
        display: none;
    }
}

@keyframes anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
