.root {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 1024px) {
        display: block;
    }
}

.title {
    font-size: 150px;

    @media(max-width: 1470px) {
        font-size: 120px;
    }

    @media(max-width: 1024px) {
        font-size: 90px;
    }

    @media(max-width: 768px) {
        font-size: 70px;
    }

    @media(max-width: 600px) {
        font-size: 38px;
    }
}